.blue{
 background-color: #0097e6;
}
.orange{
 
 color:#f1c40f;
 
}
.ligthblue{
 background-color: #38ada9;
}
.pink{
 background-color:#be2edd;
}

.green{
 background-color:#7bed9f;
}
.thinky{
 background-color: #ced6e0;
}
.gray{
 background-color: #535c68;
}
.petrel{
 background-color: #8395a7;;
}
.white{
 color: #fff;
}
.bluefr{
 color: #2e86de;
}